{% extends 'base.html.twig' %}

{% block title %}Matières{% endblock %}

{% block body %}
<style>
    .lesMatieres{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .btns{
        display: flex;
    }
    .btns a{
        margin: 10px;
    }
</style>
<h1>{{"matiere.Title"|trans}}: {{ matiere.nom }}</h1>

{{"matiere.coeff"|trans}}: {{ matiere.coeff }}
<br/>
<div class="btns">
    <a class="btn btn-info" href="{{ path("edit_matiere", {"id": matiere.id}) }}">{{'matiere.btnModifer'|trans}}</a>
    <a class="btn btn-danger" href="{{ path("delete_matiere", {"id": matiere.id}) }}">{{'matiere.btnSupprimer'|trans}}</a>
</div>              
{% endblock %}
